  .App {
    height: 100vh;
  }

  
  .logo{
    width: 75px;
    height: 75px;
  }
  
  .navbar{
    display: flex;
    background-color: black;
    color: rgb(201, 201, 201);
  }
  
  .site-name{
    font-size: 1.5em;
    flex-shrink: 0;
  }
  
  .nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin: auto 3em;
  
  }
  
  a{
    text-decoration: none;
    color: inherit
  }
  
  .nav-link{
    padding: 10px 20px;
    font-size: 1.2em;
  
  }
  
  .flex{
    display: flex;
  }
  
  .side-panel {
    background-color: #61DBFB;
    color:white;
    flex-basis: 23.6%;
  }
  
  .side-panel-list
  {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .side-panel-list-item{
    text-decoration: underline;
    padding: 1em 0;
  }
  
  
  /* Content Component */
  .content{
    min-height: 100vh;
    flex-basis: 100%;
  }
  
  .content-title{
    text-align: center;
  }
  
  .content article{
    margin:  2vw 10vw;
    line-height: 1.5em;
  
  }
  
  /* Footer Component */
  
  .footer{
    background-color: black;
    color: rgb(201, 201, 201);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer p{
    margin:0;
  }